

<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>第九届叶圣陶 听说读写 关于活动</title>
<link href="http://www.yeshengtao.com/css/style.css" rel="stylesheet">
<script type="text/javascript" src="http://www.yeshengtao.com/js/jquery.min.js"></script>
<script type="text/javascript"  src="http://www.yeshengtao.com/js/nav.js"></script>
<script type="text/javascript" src="http://www.yeshengtao.com/js/jquery-1.4.2.min.js"></script>
<link type="text/css" rel="stylesheet" href="http://www.yeshengtao.com/css/reset_v2.css">
</head>

<body>
<div class="bannerbox">

  <div class="topbox">
    <div class="top">
      <div class="logobox"> <img src="http://image.yeshengtao.com/images/logo.png"> </div>
      <div class="float_r" style="margin-top:45px;"> <img src="http://image.yeshengtao.com/images/tel.png"> </div>
      <div class="clear"></div>
    </div>
  </div>
  <!--导航开始-->
  <div class="nav">
    <div class="nav_z">
      <div class="navtext">
        <ul id="navul" class="cl">

           <li><a href="http://www.yeshengtao.com"><span>首页</span></a></li>
           <li class="action">
           <a href="http://www.yeshengtao.com/introduce/message/"><span>活动介绍</span></a>

            <ul>
              <li><a href="http://www.yeshengtao.com/introduce/message/">活动动态</a></li>
              <li><a href="http://www.yeshengtao.com/introduce/about/">关于活动</a></li>
              <li><a href="http://www.yeshengtao.com/introduce/login/">报名方式</a></li>
            </ul>
          </li>
           <li> <a href="http://www.yeshengtao.com/show/"><span>本届风采</span></a> </li>
           <li> <a href="http://www.yeshengtao.com/history/"><span>往届回顾</span></a> </li>
           <li> <a href="http://www.yeshengtao.com/question/"><span>往届题库</span></a> </li>
           <li> <a href="http://www.yeshengtao.com/well/"><span>优秀作品</span></a> </li>
           <li> <a href="http://www.yeshengtao.com/join/"><span>加入我们</span></a> </li>
        </ul>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  <!--导航结束-->

  <div class="banner"><img src="http://www.yeshengtao.com/images/banner02.jpg" width="1600" height="255"> </div>
</div>
<div id="main"> 
  <!--cookie-->
  <div id="cook">
    <div class="cook">您当前的位置：<a href="http://www.yeshengtao.com/">首页</a> &nbsp;&nbsp;>&nbsp;&nbsp;<a href="#">活动介绍</a>&nbsp;&nbsp;>&nbsp;&nbsp;<a href="#">关于活动</a></div>
    <div class="cook_line"></div>
  </div>
  <div id="cont"> 
    <!--left-->
  <div id="left" style="margin-right:40px;">
      <div class="leftbt"> <img src="http://www.yeshengtao.com/images/bt01.png"> </div>
      <div class="l_list">
        <ul>
          <li><a href="http://www.yeshengtao.com/introduce/message/">活动动态</a></li>
          <li class="l_action"><a href="http://www.yeshengtao.com/introduce/about/">关于活动</a></li>
        </ul>
      </div>

      <div class="shadow"></div>
      <div class="leftbt"><img src="http://www.yeshengtao.com/images/bt03.png"> </div>
      <div class="bmbox" style="display: none;">
        <div class="bm">
          <ul>
            <li><a href="query.html">查询成绩</a></li>
            <li><a href="score.html">参赛报名</a></li>
            <li><a href="score.html">上传作品</a></li>
          </ul>
          <div class="clear"></div>
        </div>
      </div>
      <div class="l_list">
        <ul>
          <li><a href="http://www.yeshengtao.com/introduce/login/">报名方式</a></li>
        </ul>
      </div>
      <div class="shadow"></div>
      </div>
</div>
    <!--right-->
    <div id="right">
      <div class="right">
        <div class="title">
          <ul>
            <li class="font24">活动介绍</li>
            <li class="font18 title_en">About</li>
          </ul>
          <div class="clear"></div>
          <div class="r_line"></div>
        </div>
        <div class="r_cont">
          <div class="nr">
            <div class="nr_bt">关于活动</div>
            <div class="date">2017 年03 月09 日</div>
            <div class="clear"></div>
            <div><span style="font-size: larger;"><span style="font-family: 黑体;">&nbsp; &nbsp; 叶圣陶中小学生听说读写能力展示活动由北京龙杯公益基金会承办.<br />
&nbsp; &nbsp; 该活动为贯彻落实教育部关于中小学生语文能力综合测评的要求，为弘扬叶圣陶先生&ldquo;听说读写宜并重&rdquo;的教育理念，突破作文大赛以写为主的模式，开创了以听、说、读、写综合能力展示活动的先河。<br />
&nbsp; &nbsp; 叶圣陶中小学生听说读写大赛至今已连续成功举办了八届，以其专业性、权威性、知识性、趣味性吸引了全国30余个省、自治区、直辖市累计500多万选手参赛，在全国30个省市学校共有2千余个参赛单位组织初赛。<br />
<br />
&nbsp; &nbsp; 活动永久主题&mdash;&mdash;读书、践行与创新<br />
&nbsp; &nbsp; 第九届副主题&mdash;&mdash;扎中华文化根 铸拳拳中国心</span></span></div>
<div><span style="font-size: larger;"><span style="font-family: 黑体;">&nbsp; &nbsp; 第九届口号&mdash;&mdash;中华少年 奋发自强 博古通今 实现梦想<br />
</span></span></div>
<div><span style="font-size: larger;"><span style="font-family: 黑体;">&nbsp; &nbsp; &ldquo;少年智则国智，少年富则国富；少年强则国强&rdquo;，一百多年前，梁启超在戊戌变法失败后，洋洋洒洒写下了《少年中国说》，寄托了对少年中国的热爱和期望。一百年后的今天，一代一代青少年的崛起，推动者中国向伟大复兴的方向一步步前进。而今，随着复兴中国传统文化的浪潮一步步袭来，青少年在学习、继承和发扬传统文化的事业中，承担着光荣的历史责任。本次&ldquo;叶圣陶听说读写大赛&rdquo;，将大赛主题&mdash;&mdash;&ldquo;扎中华文化根 铸拳拳中国心&rdquo;的观念融入在大赛的整体策划、命题、培训、拓展等全部活动中。</span></span></div>
<div><span style="font-size: larger;"><span style="font-family: 黑体;"> </span></span></div>
<div><span style="font-size: larger;"><span style="font-family: 黑体;">&nbsp; &nbsp; 用博大精深的国学经典启迪心智、提高学生听说读写的兴趣，增添学生阅读、思考、写作、表达的快乐；通过阅读来提升学生的语文核心素养，达到修身开智的目的，让阅读变成每一个人的生活方式。以丰富的学习资源，时尚新颖的竞赛方式，为学生搭建一个语文交流、生活交流、心灵交流的平台，进而培养学生乐观向上的生活态度，包容宽广的伟大胸怀，优雅的审美情趣，让学生在体验快乐中年健康成长。</span></span></div>
<div><br />
&nbsp;</div>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>

<!--foot-->
<div id="foot">
	<div class="footbox">
	  <div class="foot">
	    <div class="footbt"> <span><a href="http://www.yeshengtao.com/introduce/message/">活动介绍</a></span> <span><a href="http://www.yeshengtao.com/show/">本届风采</a></span> <span><a href="http://www.yeshengtao.com/history/">往届回顾</a></span> <span><a href="http://www.yeshengtao.com/question/">往届题库</a></span> <span><a href="http://www.yeshengtao.com/well/">优秀作品</a></span> <span><a href="http://www.yeshengtao.com/join/">加入我们</a></span> </div>
	    <div class="foottext" style="text-align:center">北京龙杯信息技术有限公司&nbsp;&nbsp;|&nbsp;&nbsp;yeshengtao@longbei.com&nbsp;&nbsp;|&nbsp;&nbsp;北京市海淀区上地三街金隅嘉华大厦B座911A室
            <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1264442331'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1264442331%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
            </div>
	  </div>
	</div>
</div>

<script type="text/javascript" src="js/index_v3_a1.js"></script>
</body>
</html>