{% extends "article/base.html" %}
{% load static %}

{% block banner_img%}

<div class="banner"><img src="http://image.yeshengtao.com/image/topics/201712/20171218-第九届-叶banner.jpg" width="1600" height="405"> </div>

{% endblock %}


{% block main %}

<div id="main">

  <!--大赛动态 本届风采-->
  <div>
    <div id="news" style="margin-right:40px;">
      <div class="news">
        <div class="title">
          <ul>
            <li class="font24">活动动态</li>
            <li class="font18 title_en">News</li>
            <li class="more"   style="margin-left:210px;"><a href="http://www.yeshengtao.com/introduce/message/"><img src="{% static 'article/image/more.png' %}"></a></li>
          </ul>
          <div class="clear"></div>
          <div class="line"></div>
        </div>

        <div class="list">
            {% for item in IntroduceList %}
            <ul>
                <li><a href="{{item.get_absolute_url}}">{{item.title|slice:"27"}}</a></li>
            </ul>
            {% endfor %}
        </div>

      </div>
    </div>
    <div id="this">
      <div class="this">
        <!--幻灯-->
        <div class="anythingSlider">
          <div class="tWrapper" style="overflow: hidden; ">
            <ul>
                {% for item in ShowList%}
                <li>
                    <dl>
                        <dt><a href="{{item.get_absolute_url}}"  target="_blank"><img style="width: 454px;height: 342px;" src="{{item.picture_url.url}}" ></a></dt>
                        <dd>
                            <h3 style="margin-left:27px; margin-top:30px;"><a href="http://www.yeshengtao.com/show/"  target="_blank"><img src="{% static 'article/image/this-t.png' %}"><br></a></h3>
                            <p class="bt"><a href="{{item.get_absolute_url}}">{{item.title|slice:"20"}}</a></p>

                            <p class="hdx"><a href="{{item.get_absolute_url}}">{% autoescape off %}{{item.excerpt|slice:"60"}}{% endautoescape %}</a></p>

                        </dd>
                    </dl>
                </li>
                {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>

  <div class="videos" style="padding: 20px 0;">
      <div class="video" style="float:left;width:32%;margin-right: 2%;">
        <video id="video_1" class="video-js vjs-fluid vjs-big-play-centered" controls="true" preload="auto" style="width:100%;" poster="http://longbei-media-resource-pro-out.oss-cn-hangzhou.aliyuncs.com/pickey/69edb7aaa8f8427bb57a948d142763ed.jpg" data-setup="{}">
          <source src="http://o1.longbeidata.com//filekey/22a7c39fb32f4771a306192e81c13892.mp4" type="video/mp4">
          <p class="vjs-no-js">您当前的浏览器不支持播放此视频。请尝试升级浏览器或更换其它浏览器再查看。</p>
        </video>
        <p style="text-align:center;">专家寄语</p>
      </div>
      <div class="video" style="float:left;width:32%;margin-right: 2%;">
        <video id="video_2" class="video-js vjs-fluid vjs-big-play-centered" controls="true" preload="auto" style="width:100%; height:216px;" poster="{% static 'article/image/video-3.jpg' %}" data-setup="{}">
          <source src="http://o1.longbeidata.com//filekey/b9bec3f3202b439ca46fb3b640a609a8.mp4" type="video/mp4">
          <p class="vjs-no-js">您当前的浏览器不支持播放此视频。请尝试升级浏览器或更换其它浏览器再查看。</p>
        </video>
        <p style="text-align:center;">明星祝福</p>
      </div>
      <div class="video" style="float:right;width:32%;">
        <video id="video_3" class="video-js vjs-fluid vjs-big-play-centered" controls="true" preload="auto" style="width:100%;" poster="{% static 'article/image/video-3.jpg' %}" data-setup="{}">
          <source src="http://o1.longbeidata.com//filekey/67437c34266442ae822aaedb95160fd6.mp4" type="video/mp4">
          <p class="vjs-no-js">您当前的浏览器不支持播放此视频。请尝试升级浏览器或更换其它浏览器再查看。</p>
        </video>
        <p style="text-align:center;">学生心得</p>
      </div>
      <div class="clear"></div>
  </div>


  <!--往届回顾 大赛题库-->
  <div style="margin-top:30px;">
    <div id="this" style="margin-right:40px; ">
        <div class="this">
            <div id="last">
                <div class="lastbt"> <a href="http://www.yeshengtao.com/history/"><img src="{% static 'article/image/lastbt.png' %}"></a> </div>
                <div class="sj"> <img src="{% static 'article/image/ico-sj.png' %}"> </div>
                <div class="lastpic">

                    <ul>
                        {% for item in ShowImg %}
                        <li><img src="{{ item.image.url}}" width="284" height="166"></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="clear"></div>
            </div>

            <div id="award">

                <div class="award">
                    <div class="award_title"> <a href="http://www.yeshengtao.com/introduce/prize/"><img src="{% static 'article/image/awbt.png' %}"></a> </div>
                    <div class="awardpic"> <a href="http://www.yeshengtao.com/introduce/prize/"><img style="width: 266px;height: 123px;" src="http://image.yeshengtao.com/image/topics/201708/award9.jpg"></a> </div>
                    <div class="awardcont"><a href="">评审专家在各阶段根据考生成绩评选出不同比例的获...</a></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div id="news">
        <div class="news">
            <div class="title">
                <ul>
                    <li class="font24">往届题库</li>
                    <li class="font18 title_en">Questions</li>
                    <li class="more" style="  margin-left:180px;"><a href="http://www.yeshengtao.com/question/"><img src="http://www.yeshengtao.com/images/more.png"></a></li>
                </ul>
                <div class="clear"></div>
                <div class="line"></div>
            </div>
            <div class="list">

                <ul>
                    {% for item in ShowQue%}
                    <li><a href="{{item.get_absolute_url}}">{{item.title |slice:"27" }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="clear"></div>
  </div>

  <!--优秀作品-->
  <div class="excellent">
    <div class="exti"><img src="{% static 'article/image/exti.png' %}"></div>
    <div class="excont">

        <ul>
            {% for item in ShowWell %}
                {% if forloop.counter|divisibleby:2 %}
            <li>
                {% else %}
            <li style="margin-right:30px;">
                {% endif %}
                <div class="excontent" >
                    <div class="exbt">
                        {% if forloop.first %}
                        <span class="sz">壹</span>
                        {% elif forloop.counter == 2 %}
                        <span class="sz">贰</span>
                        {% elif forloop.counter == 3 %}
                        <span class="sz">叁</span>
                        {% elif forloop.last %}
                        <span class="sz">肆</span>
                        {% endif %}
                        <span>{{item.title|truncatechars:21}}</span>
                    </div>
                    <div class="ex_text">
                        {% autoescape off %}
                        <a href="{{item.get_absolute_url}}">{{item.excerpt|truncatechars:100}}</a>
                        {% endautoescape %}
                    </div>
                </div>
            </li>
            {% endfor %}

        </ul>
      <div class="clear"></div>
    </div>
  </div>
</div>
{% endblock %}