<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>第九届叶圣陶 听说读写 活动介绍</title>
		<link href="http://www.yeshengtao.com/css/style.css" rel="stylesheet">
		<script type="text/javascript" src="http://www.yeshengtao.com/js/jquery.min.js"></script>
		<script type="text/javascript" src="http://www.yeshengtao.com/js/nav.js"></script>
		<script type="text/javascript" src="http://www.yeshengtao.com/js/jquery-1.4.2.min.js"></script>
		<link type="text/css" rel="stylesheet" href="http://www.yeshengtao.com/css/reset_v2.css">
	</head>

	<body>
		<div class="bannerbox">
			 <div class="topbox">
    <div class="top">
      <div class="logobox"> <img src="http://image.yeshengtao.com/images/logo.png"> </div>
      <div class="float_r" style="margin-top:45px;"> <img src="http://image.yeshengtao.com/images/tel.png"> </div>
      <div class="clear"></div>
    </div>
  </div>
  <!--导航开始-->
  <div class="nav">
    <div class="nav_z">
      <div class="navtext">
        <ul id="navul" class="cl">

           <li><a href="http://www.yeshengtao.com"><span>首页</span></a></li>
           <li class="action">
           <a href="http://www.yeshengtao.com/introduce/message/"><span>活动介绍</span></a>

            <ul>
              <li><a href="http://www.yeshengtao.com/introduce/message/">活动动态</a></li>
              <li><a href="http://www.yeshengtao.com/introduce/about/">关于活动</a></li>
              <li><a href="http://www.yeshengtao.com/introduce/login/">报名方式</a></li>
            </ul>
          </li>
           <li> <a href="http://www.yeshengtao.com/show/"><span>本届风采</span></a> </li>
           <li> <a href="http://www.yeshengtao.com/history/"><span>往届回顾</span></a> </li>
           <li> <a href="http://www.yeshengtao.com/question/"><span>往届题库</span></a> </li>
           <li> <a href="http://www.yeshengtao.com/well/"><span>优秀作品</span></a> </li>
           <li> <a href="http://www.yeshengtao.com/join/"><span>加入我们</span></a> </li>
        </ul>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  <!--导航结束-->

			<div class="banner"><img src="http://www.yeshengtao.com/images/banner02.jpg" width="1600" height="255"> </div>
		</div>
		<div id="main">
			<!--cookie-->
			<div id="cook">
				<div class="cook">您当前的位置：
					<a href="http://www.yeshengtao.com/">首页</a> &nbsp;&nbsp;>&nbsp;&nbsp;
					<a href="#">活动介绍</a>&nbsp;&nbsp;>&nbsp;&nbsp;
					<a href="#">活动动态</a>
				</div>
				<div class="cook_line"></div>
			</div>
			<div id="cont">
				<!--left-->
				<div id="left" style="margin-right:40px;">
      <div class="leftbt"> <img src="http://www.yeshengtao.com/images/bt01.png"> </div>
      <div class="l_list">
        <ul>
          <li class="l_action"><a href="http://www.yeshengtao.com/introduce/message/">活动动态</a></li>
          <li><a href="http://www.yeshengtao.com/introduce/about/">关于活动</a></li>
        </ul>
      </div>

      <div class="shadow"></div>
      <div class="leftbt"><img src="http://www.yeshengtao.com/images/bt03.png"> </div>
      <div class="bmbox" style="display: none;">
        <div class="bm">
          <ul>
            <li><a href="query.html">查询成绩</a></li>
            <li><a href="score.html">参赛报名</a></li>
            <li><a href="score.html">上传作品</a></li>
          </ul>
          <div class="clear"></div>
        </div>
      </div>
      <div class="l_list">
        <ul>
          <li><a href="http://www.yeshengtao.com/introduce/login/">报名方式</a></li>
        </ul>
      </div>
      <div class="shadow"></div>
      </div>
</div>
				<!--right-->
				<div id="right">
					<div class="right">
						<div class="title">
							<ul>
								<li class="font24">活动动态</li>
								<li class="font18 title_en">News</li>
							</ul>
							<div class="clear"></div>
							<div class="r_line"></div>
						</div>
						<div class="r_cont">
							
														<div class="cont_list">
								<ul>
									<li style="margin-right:20px;"> <img style="width: 171px;height: 124px;" src="http://image.yeshengtao.com/image/topics/201711/4.jpg"> </li>
									<li class="r_text rw">
										<a href="/news/201711/415.html">
											<p>
												关于初级展示活动演练的通知
											</p>
										</a>
										<a href="/news/201711/415.html"> <span>为保证“叶圣陶中小学生听说读写能力公益展示活动”顺利进行，现就初级展示活动开放模拟演练窗口。</span></a>
									</li>
								</ul>
								<div class="clear"></div>
							</div>
														<div class="cont_list">
								<ul>
									<li style="margin-right:20px;"> <img style="width: 171px;height: 124px;" src="http://image.yeshengtao.com/image/topics/201709/20170920-流程图-头图（网站）.jpg"> </li>
									<li class="r_text rw">
										<a href="/news/201709/409.html">
											<p>
												“第九届叶圣陶听说读写能力展示”线上报名流程指导
											</p>
										</a>
										<a href="/news/201709/409.html"> <span>“第九届叶圣陶听说读写能力展示”线上报名流程指导</span></a>
									</li>
								</ul>
								<div class="clear"></div>
							</div>
														<div class="cont_list">
								<ul>
									<li style="margin-right:20px;"> <img style="width: 171px;height: 124px;" src=""> </li>
									<li class="r_text rw">
										<a href="/news/201711/414.html">
											<p>
												朱军对话龙杯董事长尹雄,共论公益和进步
											</p>
										</a>
										<a href="/news/201711/414.html"> <span></span></a>
									</li>
								</ul>
								<div class="clear"></div>
							</div>
														<div class="cont_list">
								<ul>
									<li style="margin-right:20px;"> <img style="width: 171px;height: 124px;" src="http://image.yeshengtao.com/image/topics/201710/qsinghua1.png"> </li>
									<li class="r_text rw">
										<a href="/news/201710/412.html">
											<p>
												热烈庆贺清华大学新闻与传播学院成为本届活动支持单位
											</p>
										</a>
										<a href="/news/201710/412.html"> <span>热烈庆贺清华大学新闻与传播学院同意成为本届活动的支持单位。</span></a>
									</li>
								</ul>
								<div class="clear"></div>
							</div>
														<div class="cont_list">
								<ul>
									<li style="margin-right:20px;"> <img style="width: 171px;height: 124px;" src="http://image.yeshengtao.com/image/topics/201710/heying1.jpg"> </li>
									<li class="r_text rw">
										<a href="/news/201710/411.html">
											<p>
												清华首批积极心理学指导师认证助力“第九届叶圣陶听说...
											</p>
										</a>
										<a href="/news/201710/411.html"> <span>热烈祝贺北京龙杯公益基金会秘书长尹雄先生，韩萍老师喜获清华大学首批“积极心理学指导师”荣誉。</span></a>
									</li>
								</ul>
								<div class="clear"></div>
							</div>
													</div>
						<!--分页-->
						<div id="paging">
							<div class="paging">
								<li style="background:none;">共
									18条</li>
																								<!-- 此处取得上页和下页的序号并做为变量输出-->
																																																<!-- 此处取得上页和下页的序号并做为变量输出-->
																								<!-- 此处取得上页和下页的序号并做为变量输出-->
																								<!-- 此处取得上页和下页的序号并做为变量输出-->
																
								<ul>

									<li>
										<a href="http://www.yeshengtao.com/introduce/message/index.html">上一页</a>
									</li>
									
																											<li>
										<a href="http://www.yeshengtao.com/introduce/message/index.html">
											1
										</a>
									</li>
																											
									<li style="background:#fcda21;">
										2
									</li>
																																				<li>
										<a href="http://www.yeshengtao.com/introduce/message/index_3.html">
											3
										</a>
									</li>
																																				<li>
										<a href="http://www.yeshengtao.com/introduce/message/index_4.html">
											4
										</a>
									</li>
																		
																		<li>
										<a href="http://www.yeshengtao.com/introduce/message/index_3.html">下一页</a>
									</li>
																	</ul>

								<div class="clear"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>

		<!--foot-->
		<div id="foot">
	<div class="footbox">
	  <div class="foot">
	    <div class="footbt"> <span><a href="http://www.yeshengtao.com/introduce/message/">活动介绍</a></span> <span><a href="http://www.yeshengtao.com/show/">本届风采</a></span> <span><a href="http://www.yeshengtao.com/history/">往届回顾</a></span> <span><a href="http://www.yeshengtao.com/question/">往届题库</a></span> <span><a href="http://www.yeshengtao.com/well/">优秀作品</a></span> <span><a href="http://www.yeshengtao.com/join/">加入我们</a></span> </div>
	    <div class="foottext" style="text-align:center">北京龙杯信息技术有限公司&nbsp;&nbsp;|&nbsp;&nbsp;yeshengtao@longbei.com&nbsp;&nbsp;|&nbsp;&nbsp;北京市海淀区上地三街金隅嘉华大厦B座911A室
            <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1264442331'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1264442331%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
            </div>
	  </div>
	</div>
</div>
		<script type="text/javascript" src="js/index_v3_a1.js"></script>
	</body>

</html>