{% extends "article/base.html" %}
{% load static %}

{% block banner_img%}

<div class="banner"><img src="http://www.yeshengtao.com/images/banner02.jpg" width="1600" height="255"> </div>

{% endblock %}

{% block main %}
<div id="main"> 
    <!--cookie-->
    <div id="cook">
        <div class="cook">您当前的位置：<a href="http://www.yeshengtao.com/">首页</a> &nbsp;&nbsp;>&nbsp;&nbsp;<a href="#">活动动态</a></div>
        <div class="cook_line"></div>
    </div>

    <div id="cont">
        <!--left-->
        <div id="left" style="margin-right:40px;">
            <div class="leftbt">
            <img src="http://www.yeshengtao.com/images/bt01.png">
            </div>

            <div class="l_list">
                <ul>
                    <li class="l_action"><a href="http://www.yeshengtao.com/introduce/message/">活动动态</a></li>
                    <li><a href="http://www.yeshengtao.com/introduce/about/">关于活动</a></li>
                    <li><a href="http://www.yeshengtao.com/introduce/login/">报名方式</a></li>
                    <li><a href="http://www.yeshengtao.com/introduce/review/">评审方式</a></li>
                    <li><a href="http://www.yeshengtao.com/introduce/prize/">奖项设立</a></li>
                </ul>
            </div>
        </div>
        <!--right-->
        <div id="right">
            <div class="right">
                <div class="title">
                    <ul>
                        <li class="font24">活动动态</li>
                        <li class="font18 title_en">News</li>
                    </ul>
                    <div class="clear"></div>
                    <div class="r_line"></div>
                </div>

                <div class="r_cont">

                    <div class="nr">
                        <div class="nr_bt">{{content.title}}</div>
                        <div class="date">{{content.modified_time | date:"Y-m-d H:i:s"}}</div>
                        <div class="clear"></div>
                        {{content.body}}
                    </div>

                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
{% endblock %}