<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>第九届叶圣陶 听说读写 大赛题库</title>
<link href="http://www.yeshengtao.com/css/style.css" rel="stylesheet">
<script type="text/javascript" src="http://www.yeshengtao.com/js/jquery.min.js"></script>
<script type="text/javascript"  src="http://www.yeshengtao.com/js/nav.js"></script>
<script type="text/javascript" src="http://www.yeshengtao.com/js/jquery-1.4.2.min.js"></script>
<link type="text/css" rel="stylesheet" href="http://www.yeshengtao.com/css/reset_v2.css">
</head>

<body>
<div class="bannerbox">

   <div class="topbox">
    <div class="top">
      <div class="logobox"> <img src="http://image.yeshengtao.com/images/logo.png"> </div>
      <div class="float_r" style="margin-top:45px;"> <img src="http://image.yeshengtao.com/images/tel.png"> </div>
      <div class="clear"></div>
    </div>
  </div>
  <!--导航开始-->
  <div class="nav">
    <div class="nav_z">
      <div class="navtext">
        <ul id="navul" class="cl">

           <li><a href="http://www.yeshengtao.com"><span>首页</span></a></li>
           <li>
           <a href="http://www.yeshengtao.com/introduce/message/"><span>活动介绍</span></a>

            <ul>
              <li><a href="http://www.yeshengtao.com/introduce/message/">活动动态</a></li>
              <li><a href="http://www.yeshengtao.com/introduce/about/">关于活动</a></li>
              <li><a href="http://www.yeshengtao.com/introduce/login/">报名方式</a></li>
            </ul>
          </li>
           <li> <a href="http://www.yeshengtao.com/show/"><span>本届风采</span></a> </li>
           <li> <a href="http://www.yeshengtao.com/history/"><span>往届回顾</span></a> </li>
            <li class="action">  <a href="http://www.yeshengtao.com/question/"><span>往届题库</span></a> </li>
           <li> <a href="http://www.yeshengtao.com/well/"><span>优秀作品</span></a> </li>
           <li> <a href="http://www.yeshengtao.com/join/"><span>加入我们</span></a> </li>
        </ul>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  <!--导航结束-->

  <div class="banner"><img src="http://www.yeshengtao.com/images/banner02.jpg" width="1600" height="255"> </div>
</div>
<div id="main"> 
  <!--cookie-->
  <div id="cook">
    <div class="cook">您当前的位置：<a href="http://www.yeshengtao.com/">首页</a> &nbsp;&nbsp;>&nbsp;&nbsp;<a href="#">往届题库</a>&nbsp;&nbsp;</div>
    <div class="cook_line"></div>
  </div>
  <div id="cont"> 
    <!--left-->
    <div id="left" style="margin-right:40px;">
    <div class="leftbt">
        <img src="http://www.yeshengtao.com/images/bt04.png">
        </div>
    <div class="shadow"></div>
    <div class="leftbt"><img src="http://www.yeshengtao.com/images/bt03.png"></div>
    <div class="bmbox" style="display: none;">
      <div class="bm">
        <ul>
	        <li><a href="#">查询成绩</a></li>
	        <li><a href="#">参赛报名</a></li>
	        <li><a href="#">上传作品</a></li>
        </ul>
        <div class="clear"></div>
      </div>
    </div>
  	<div class="l_list">
		<ul>
  			<li><a href="http://www.yeshengtao.com/introduce/login/">报名方式</a></li>
		</ul>
  	</div>
    <div class="shadow"></div>
    </div>
    <!--right-->
    <div id="right">
      <div class="right">
        <div class="title">
          <ul>
            <li class="font24">往届题库</li>
            <li class="font18 title_en">Question</li>
          </ul>
          <div class="clear"></div>
          <div class="r_line"></div>
        </div>
        <div class="r_cont">
          <div class="list" style="margin-top:30px;">
          
            <ul>
                            <li><a href="/news/201703/363.html">“叶圣陶杯”第五届中小学生听说读写大赛小学低年级初赛试题</a></li>
                            <li><a href="/news/201703/362.html">“叶圣陶杯”第六届中小学生听说读写大赛小学一年级初赛试卷</a></li>
                            <li><a href="/news/201703/360.html">“叶圣陶杯”第三届中小学生听说读写大赛小学中年级初赛试卷</a></li>
                            <li><a href="/news/201703/359.html">“叶圣陶杯”第三届中小学生听说读写大赛小学高年级复赛试卷</a></li>
                            <li><a href="/news/201703/352.html">“叶圣陶杯”第三届中小学生听说读写大赛小学高年级复赛试卷</a></li>
                            <li><a href="/news/201703/364.html">“叶圣陶杯”第五届中小学生听说读写大赛小学一年级初赛试卷</a></li>
                          </ul>
          </div>
        </div>
        <!--分页-->
        <div id="paging">
          <div class="paging">

          <li style="background:none;">共6条</li>
                                                  <!-- 此处取得上页和下页的序号并做为变量输出-->
                    
                    
          <li style="background:#fcda21;" >1</li>
                    </ul>

          <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>

<!--foot-->
<div id="foot">
	<div class="footbox">
	  <div class="foot">
	    <div class="footbt"> <span><a href="http://www.yeshengtao.com/introduce/message/">活动介绍</a></span> <span><a href="http://www.yeshengtao.com/show/">本届风采</a></span> <span><a href="http://www.yeshengtao.com/history/">往届回顾</a></span> <span><a href="http://www.yeshengtao.com/question/">往届题库</a></span> <span><a href="http://www.yeshengtao.com/well/">优秀作品</a></span> <span><a href="http://www.yeshengtao.com/join/">加入我们</a></span> </div>
	    <div class="foottext" style="text-align:center">北京龙杯信息技术有限公司&nbsp;&nbsp;|&nbsp;&nbsp;yeshengtao@longbei.com&nbsp;&nbsp;|&nbsp;&nbsp;北京市海淀区上地三街金隅嘉华大厦B座911A室
            <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1264442331'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1264442331%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
            </div>
	  </div>
	</div>
</div>
<script type="text/javascript" src="http://www.yeshengtao.com/js/index_v3_a1.js"></script>
</body>
</html>