{% extends "article/base.html" %}
{% load static %}

{% block banner_img%}

<div class="banner"><img src="http://www.yeshengtao.com/images/banner02.jpg" width="1600" height="255"> </div>

{% endblock %}

{% block main%}
<div id="main"> 
<!--cookie-->
    <div id="cook">
        <div class="cook">您当前的位置：<a href="http://www.yeshengtao.com/">首页</a> &nbsp;&nbsp;>&nbsp;&nbsp;<a href="#">本届风采</a></div>
        <div class="cook_line"></div>
    </div>
    <div id="cont">
        <!--left-->
        <div id="left" style="margin-right:40px;">
            <div class="leftbt">
                <img src="http://www.yeshengtao.com/images/bt06.png">
            </div>
            <div class="shadow"></div>
            <div class="leftbt"><img src="http://www.yeshengtao.com/images/bt03.png"></div>

            <div class="l_list">
                <ul>
                    <li><a href="http://www.yeshengtao.com/introduce/login/">报名方式</a></li>
                </ul>
            </div>
            <div class="shadow"></div>
        </div>
        <!--right-->
        <div id="right">
            <div class="right">
                <div class="title">
                    <ul>
                    <li class="font24">本届风采</li>
                    <li class="font18 title_en">News</li>
                    </ul>
                    <div class="clear"></div>
                    <div class="r_line"></div>
                </div>
                <div class="r_cont">
                    <div class="cont_list">
                        {% for item in ContentList %}
                        <ul>
                            <li style="margin-right:20px;"> <img style="width: 171px;height: 124px;" src="{{item.picture_url.url}}"> </li>
                            <li class="r_text rw"> <a href="{{item.get_absolute_url}}">
                            <p>{{item.title}}</p>
                            </a> <a href="{{item.get_absolute_url}}"> <span>{{item.excerpt}}</span></a> </li>
                        </ul>
                        <div class="clear"></div>
                        {% endfor %}
                    </div>
                </div>
                <!--分页-->
                <div id="paging">
                    <div class="paging">
                        <li style="background:none;">共{{ContentList.paginator.num_pages}}页</li>
                        <!-- 此处取得上页和下页的序号并做为变量输出-->
                        <!-- 此处取得上页和下页的序号并做为变量输出-->
                        <ul>
                            {% if ContentList.has_previous %}
                            <li><a href="?page={{ ContentList.previous_page_number }}">上一页</a></li>
                            {% endif %}

                            {% for pg in ContentList.paginator.page_range %}
                                {% if ContentList.number == pg %}
                                <li style="background:#fcda21;" >{{ pg }}</li>
                                {% else %}
                                <li><a href="?page={{ pg }}">{{ pg }}</a></li>
                                {% endif %}
                            {% endfor %}

                            {% if ContentList.has_next %}
                            <li><a href="?page={{ ContentList.next_page_number }}">下一页</a></li>
                            {% endif %}
                        </ul>

                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
{% endblock %}


