<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>第九届叶圣陶 听说读写 活动 优秀作品</title>
<link href="http://www.yeshengtao.com/css/style.css" rel="stylesheet">
<script type="text/javascript" src="http://www.yeshengtao.com/js/jquery.min.js"></script>
<script type="text/javascript"  src="http://www.yeshengtao.com/js/nav.js"></script>
<script type="text/javascript" src="http://www.yeshengtao.com/js/jquery-1.4.2.min.js"></script>
<link type="text/css" rel="stylesheet" href="http://www.yeshengtao.com/css/reset_v2.css">
</head>

<body>
<div class="bannerbox">

   <div class="topbox">
    <div class="top">
      <div class="logobox"> <img src="http://image.yeshengtao.com/images/logo.png"> </div>
      <div class="float_r" style="margin-top:45px;"> <img src="http://image.yeshengtao.com/images/tel.png"> </div>
      <div class="clear"></div>
    </div>
  </div>
  <!--导航开始-->
  <div class="nav">
    <div class="nav_z">
      <div class="navtext">
        <ul id="navul" class="cl">

           <li><a href="http://www.yeshengtao.com"><span>首页</span></a></li>
           <li>
           <a href="http://www.yeshengtao.com/introduce/message/"><span>活动介绍</span></a>

            <ul>
              <li><a href="http://www.yeshengtao.com/introduce/message/">活动动态</a></li>
              <li><a href="http://www.yeshengtao.com/introduce/about/">关于活动</a></li>
              <li><a href="http://www.yeshengtao.com/introduce/login/">报名方式</a></li>
            </ul>
          </li>
           <li> <a href="http://www.yeshengtao.com/show/"><span>本届风采</span></a> </li>
           <li> <a href="http://www.yeshengtao.com/history/"><span>往届回顾</span></a> </li>
           <li> <a href="http://www.yeshengtao.com/question/"><span>往届题库</span></a> </li>
            <li class="action">  <a href="http://www.yeshengtao.com/well/"><span>优秀作品</span></a> </li>
           <li> <a href="http://www.yeshengtao.com/join/"><span>加入我们</span></a> </li>
        </ul>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  <!--导航结束-->

  <div class="banner"><img src="http://www.yeshengtao.com/images/banner02.jpg" width="1600" height="255"> </div>
</div>
<div id="main"> 
  <!--cookie-->
  <div id="cook">
    <div class="cook">您当前的位置：<a href="http://www.yeshengtao.com/">首页</a> &nbsp;&nbsp;>&nbsp;&nbsp;<a href="#">优秀作品</a></div>
    <div class="cook_line"></div>
  </div>
  <div id="cont"> 
    <!--left-->
     <div id="left" style="margin-right:40px;">
    <div class="leftbt">
        <img src="http://www.yeshengtao.com/images/bt02.png">
        </div>
    <div class="shadow"></div>
    <div class="leftbt"><img src="http://www.yeshengtao.com/images/bt03.png"></div>
    <div class="bmbox" style="display: none;">
      <div class="bm">
        <ul>
	        <li><a href="#">查询成绩</a></li>
	        <li><a href="#">参赛报名</a></li>
	        <li><a href="#">上传作品</a></li>
        </ul>
        <div class="clear"></div>
      </div>
    </div>
  	<div class="l_list">
		<ul>
  			<li><a href="http://www.yeshengtao.com/introduce/login/">报名方式</a></li>
		</ul>
  	</div>
    <div class="shadow"></div>
    </div>
    <!--right-->
    <div id="right">
      <div class="right">
        <div class="title">
          <ul>
            <li class="font24">优秀作品</li>
            <li class="font18 title_en">Excellent</li>
          </ul>
          <div class="clear"></div>
          <div class="r_line"></div>
        </div>
        <div class="r_cont">
         
                   <div class="cont_list">
            <ul>
              <li class="r_text"> <a href="/news/201703/365.html">
                <p>听说读写优秀作品小学组《变性机》</p>
                </a> <a href="#"> <span>喜羊羊与灰太狼在一起斗智斗勇，但是终究狼还是想要吃羊的，怎么样才能让他们和平共处呢？一个变性机的出现改变了这一切，从此狼和羊到了一起，欢乐的歌唱。这究竟是怎么一回事，发生了什么，赶紧看看小作者的文章吧。</span></a> </li>
            </ul>
            <div class="clear"></div>
          </div>
                    <div class="cont_list">
            <ul>
              <li class="r_text"> <a href="/news/201703/354.html">
                <p>听说读写优秀作品小学组《爸爸的兴趣》</p>
                </a> <a href="#"> <span>《周易·乾》里言：“天行健，君子以自强不息。”父母是孩子的第一任老师，也是孩子最好的老师。小作者通过对爸爸兴趣的描写，以及爸爸如何教育自己，让我们看到了伟大的父爱。</span></a> </li>
            </ul>
            <div class="clear"></div>
          </div>
                    <div class="cont_list">
            <ul>
              <li class="r_text"> <a href="/news/201703/353.html">
                <p>听说读写优秀作品小学组《龟兔赛跑》续写</p>
                </a> <a href="#"> <span>《龟兔赛跑》的故事已经流传了很多年，同时也有很多《龟兔赛跑》的续写，从不同的角度出发，龟、兔取得了不同的成绩，我们也得出了不同的结论。本文小作者从“友爱”的角度出发，给我们诠释了一次与众不同的“龟兔赛跑”。</span></a> </li>
            </ul>
            <div class="clear"></div>
          </div>
                    <div class="cont_list">
            <ul>
              <li class="r_text"> <a href="/news/201703/372.html">
                <p>听说读写优秀作品小学组《关爱我们的老师》</p>
                </a> <a href="#"> <span>在学校里我们是祖国的花朵，老师不但教我们学知识、懂道理，还教我们怎样做人，鼓励我们努力学习，从小打好基础，将来迎接挑战。让我们一起来看看老师都是怎么做的，小作者是如何歌颂老师的！</span></a> </li>
            </ul>
            <div class="clear"></div>
          </div>
                    <div class="cont_list">
            <ul>
              <li class="r_text"> <a href="/news/201703/366.html">
                <p>听说读写优秀作品小学组《猜猜我是谁》</p>
                </a> <a href="#"> <span>你知道我是谁吗？我可是国宝级的人物，每天都有很多人来看我，争着跟我合影留念呢。我穿着黑白相间的衣服，让我看起来很优雅。你别看我胖胖的......你猜到我是谁了吗？一起看看我还有哪些特征吧。</span></a> </li>
            </ul>
            <div class="clear"></div>
          </div>
                  </div>
        <!--分页-->
        <div id="paging">
          <div class="paging">

          <li style="background:none;">共10条</li>
                    <!-- 此处取得上页和下页的序号并做为变量输出-->
                                                  <!-- 此处取得上页和下页的序号并做为变量输出-->
                    
          <ul>
          
          <li><a href="http://www.yeshengtao.com/well/index.html">上一页</a></li>
                              <li><a href="http://www.yeshengtao.com/well/index.html">1</a></li>
                    
          <li style="background:#fcda21;" >2</li>
                    </ul>

            <div class="clear"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>

<!--foot-->

<div id="foot">
	<div class="footbox">
	  <div class="foot">
	    <div class="footbt"> <span><a href="http://www.yeshengtao.com/introduce/message/">活动介绍</a></span> <span><a href="http://www.yeshengtao.com/show/">本届风采</a></span> <span><a href="http://www.yeshengtao.com/history/">往届回顾</a></span> <span><a href="http://www.yeshengtao.com/question/">往届题库</a></span> <span><a href="http://www.yeshengtao.com/well/">优秀作品</a></span> <span><a href="http://www.yeshengtao.com/join/">加入我们</a></span> </div>
	    <div class="foottext" style="text-align:center">北京龙杯信息技术有限公司&nbsp;&nbsp;|&nbsp;&nbsp;yeshengtao@longbei.com&nbsp;&nbsp;|&nbsp;&nbsp;北京市海淀区上地三街金隅嘉华大厦B座911A室
            <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1264442331'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1264442331%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
            </div>
	  </div>
	</div>
</div>

<script type="text/javascript" src="js/index_v3_a1.js"></script>
</body>
</html>